pipeline/backupWeights.json
{
	"name": "backupWeights",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "weights"
					},
					{
						"name": "Destination",
						"value": "weights"
					}
				],
				"typeProperties": {
					"source": {
						"type": "CosmosDbSqlApiSource",
						"preferredRegions": []
					},
					"sink": {
						"type": "AzureTableSink",
						"azureTableInsertType": "merge",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"parallelCopies": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['id']"
								},
								"sink": {
									"name": "id",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['name']"
								},
								"sink": {
									"name": "name",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['value']"
								},
								"sink": {
									"name": "value",
									"type": "Double"
								}
							},
							{
								"source": {
									"path": "$['_rid']"
								},
								"sink": {
									"name": "_rid",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_self']"
								},
								"sink": {
									"name": "_self",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_etag']"
								},
								"sink": {
									"name": "_etag",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['RowKey']"
								},
								"sink": {
									"name": "RowKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['PartitionKey']"
								},
								"sink": {
									"name": "PartitionKey",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "$['_ts']"
								},
								"sink": {
									"name": "_ts",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "CosmosDb_weights",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "WeightsTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Azure Function1",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": {
						"value": "getScore?weight=@activity('Copy data1').columns('VitaminD3').value&value=4000",
						"type": "Expression"
					},
					"method": "GET",
					"body": {
						"value": "@activity('Copy data1').output",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "AcNN",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-12-12T15:51:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}