pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "textField",
					"value": {
						"value": "@trim(substring('-3321321231561045212|521321231561045212                                                 ',\n  indexof('-3321321231561045212|521321231561045212                                                 ',\n  '|'),\nindexof('-3321321231561045212|521321231561045212                                                 ',\n  '|')))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set variable1_copy1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "textField",
					"value": {
						"value": "@trim(substring('-3321321231561045212|521321231561045212                                                 ',\n  indexof('-3321321231561045212|521321231561045212                                                 ',\n  '|'),\n1))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set array",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "values",
					"value": {
						"value": "@split('-3321321231561045212|521321231561045212                                                 ', '|')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "textField",
					"value": {
						"value": "@variables('values')[1]",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable1_copy1_copy1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Set array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "textField",
					"value": {
						"value": "@variables('values')[0]",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"textField": {
				"type": "String"
			},
			"pos": {
				"type": "String"
			},
			"values": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}